# App config
NEXT_PUBLIC_ROOT_DOMAIN=localhost:3000
NODE_ENV=dev

# Database
VERCEL_POSTGRES_URL=postgresql://neondb_owner:npg_zo3akN7Vdpge@ep-purple-math-a1wh4ewd-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
DATABASE_URI=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE
SEED_DB=true
